*{margin:0;padding:0;text-decoration:none}
header{
    position:relative;
    width:100%;
    margin-bottom: 10px;
    z-index:1000;
    background: red;
}
nav{
  background: #2B2B2B;
    background: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  position:relative;
  width:100%;
  margin:0 auto;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 1px 6px 2px #888;
  -moz-box-shadow: 1px 6px 2px #888;
  box-shadow: 1px 6px 2px #888;
}
header nav > ul > li{
  float:left;
}
header nav ul,header nav ul li,header nav ul li a{
    border:0;
    list-style:none;
    display:block;
    line-height: 1;
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
header nav:after,header nav > ul:after{
  content: "";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
header nav > ul > li > a{
    padding:18px 23px;
    font-size:16px;
    text-decoration:none;
    color:#fff;
    font-weight:600;
    text-decoration: none;
}
header nav > ul > li:hover > a,header nav ul li.active a{
    color:#fff;
    text-decoration: none;
}
header nav > ul > li:hover,header nav ul li.active:hover,header nav ul li.active,header nav ul li.has-sub.active:hover{
    background: -webkit-linear-gradient(bottom, #448D00 20%, #448D88 100%);
    background: -o-linear-gradient(bottom, #448D00 20%, #448D88 100%);
    background: -moz-linear-gradient(bottom, #448D00 20%, #448D88 100%);
    background: linear-gradient(bottom, #448D00 20%, #448D88 100%);
    -webkit-transition:background .3s ease;
    -ms-transition:background .3s ease;
    transition:background .3s ease;
}
header nav ul ul{position:absolute;left:-9999px}
header nav ul ul li{
    height:0;
    -webkit-transition:all .25s ease;-ms-transition:all .25s ease;
    background:#333;
    transition:all .25s ease;
}
header nav ul ul li:hover{

}
header nav li:hover > ul{left:auto}
header nav li:hover > ul > li{height:100%;}
header nav ul ul ul{margin-left:100%;top:0}
header nav ul ul li a{
    border-bottom:1px solid rgba(150,150,150,0.15);
    padding:18px 25px;
    width:170px;font-size:14px;
    text-decoration:none;
    color:#fff;
    font-weight:500;
}
header nav ul ul li:last-child > a,header nav ul ul li.last-item > a{border-bottom:0}
header nav ul ul li:hover > a,header nav ul ul li a:hover{
    color:#fff;
    text-decoration: none;
    background: -webkit-linear-gradient(bottom, #2B2B2B 7%, #448D00 100%);
    background: -o-linear-gradient(bottom, #2B2B2B 7%, #448D00 100%);
    background: -moz-linear-gradient(bottom, #2B2B2B 7%, #448D00 100%);
    background: linear-gradient(bottom, #2B2B2B 7%, #448D00 100%);
}
header nav ul ul ul li.active a{border-left:1px solid #333}
header nav > ul > li.has-sub > ul > li.active > a,header nav > ul ul > li.has-sub > ul > li.active> a{
    border-top:1px solid #333;
}
/* Para dibujar la cruz que se mueve*/
header nav > ul > li.submenu > a:after{
  position:absolute;
  top:22px;
  right:11px;
  width:8px;
  height:2px;
  display:block;
  background:#ddd;content:'';
}
header nav > ul > li.submenu > a:before{
  position:absolute;
  top:19px;
  right:14px;
  display:block;
  width:2px;
  height:8px;
  background:#eee;
  content:'';
  -webkit-transition:all .45s ease;
  -ms-transition:all .45s ease;
  transition:all .45s ease;
}
header nav > ul > li.submenu:hover > a:before{
  top:0px;
  height:0;
}
